# Environment variables
.env

# Database files
*.db
*.sqlite3

# Python Virtual Environments
venv/
ENV/
env/

# Python Cache & Compiled Files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage Cache
.pytest_cache/
.coverage
htmlcov/

# IDE files
.idea/
.vscode/
*.swp
*.swo
